@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 20
}

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600 !important;
}

.react-calendar__tile--active {
    background-color: #C3EBFA !important;
    color: black !important;
}